* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
